/* FONTS START */
@font-face {
  font-family: "Suisse";
  src: url("/assets/fonts/fonnts.com-Suisse_Intl_Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Suisse";
  src: url("/assets/fonts/fonnts.com-Suisse_Intl_Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Suisse";
  src: url("/assets/fonts/fonnts.com-Suisse_Intl_Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
/* FONTS END */

/* LAYOUT START */
:root {
  --green-color: #026765;
  --white-color: #ffffff;
  --black-color: #000000;
  --grey-color: #757575;
  --light-grey: #eceff1;
  --box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  --btn-padding: 12px 16px;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Suisse", sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

p {
  margin: 0;
}

::placeholder {
  color: unset;
}
/* LAYOUT END */

/* MAIN START */
/* ======================================= */
.home-banner-wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: clamp(375px, 50vw, 528px);
  box-shadow: var(--box-shadow);
  position: relative;
}
.home-banner-wrapper .container {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
}
.home-banner-wrapper .banner-content {
  width: 100%;
  max-width: 630px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: clamp(10px, 1vw, 16px);
  /* padding: 190px 0; */
}
.home-banner-wrapper .banner-content h1 {
  font-size: clamp(20px, 3vw, 48px);
  font-weight: 700;
  color: var(--white-color);
  line-height: 100%;
  margin: 0;
}
.home-banner-wrapper .banner-content p {
  font-size: clamp(15px, 1.5vw, 20px);
  font-weight: 500;
  color: var(--white-color);
  line-height: 100%;
}
.home-banner-wrapper .banner-content a {
  font-size: clamp(12px, 1vw, 14px);
  font-weight: 400;
  color: var(--black-color);
  border-radius: 52px;
  padding: var(--btn-padding);
  background-color: var(--white-color);
}
/* ======================================= */
.additional-section-wrapper {
  background-color: var(--light-grey);
  padding: 64px 0;
}

.additional-section-wrapper
  .additional-section-content
  .additional-top-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 15px;
}

.additional-section-wrapper
  .additional-section-content
  .additional-top-wrapper
  .additional-top-left-wrapper {
  width: 80%;
}

.additional-section-wrapper
  .additional-section-content
  .additional-top-wrapper
  .additional-top-right-wrapper {
  width: 20%;
  text-align: center;
}

.additional-section-wrapper
  .additional-section-content
  .additional-top-wrapper
  .additional-top-left-wrapper
  ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.additional-section-wrapper
  .additional-section-content
  .additional-top-wrapper
  .additional-top-left-wrapper
  ul
  li
  img {
  width: 18px;
  height: 18px;
}
.additional-section-wrapper
  .additional-section-content
  .additional-top-wrapper
  .additional-top-left-wrapper
  ul
  li {
  font-size: clamp(12px, 1vw, 14px);
  font-weight: 400;
  color: var(--black-color);
  border-radius: 52px;
  border: 1px solid var(--black-color);
  display: inline-block;
  padding: 9px 12px;
}

.additional-section-wrapper
  .additional-section-content
  .additional-top-wrapper
  .additional-top-right-wrapper
  h2 {
  font-size: clamp(32px, 6vw, 64px);
  font-weight: 700;
  line-height: 100%;
}
.additional-section-wrapper
  .additional-section-content
  .additional-top-wrapper
  .additional-top-right-wrapper
  p {
  font-size: clamp(20px, 2vw, 24px);
  font-weight: 400;
  line-height: 100%;
  color: var(--black-color);
}

.additional-section-wrapper
  .additional-section-content
  .additional-bottom-wrapper {
  margin-top: 24px;
}

.additional-section-wrapper
  .additional-section-content
  .additional-bottom-wrapper
  p {
  font-size: clamp(18px, 2vw, 24px);
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
}
/* ======================================= */
/* MAIN END */
