/* FONTS START */
@font-face {
  font-family: "Suisse";
  src: url("/assets/fonts/fonnts.com-Suisse_Intl_Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Suisse";
  src: url("/assets/fonts/fonnts.com-Suisse_Intl_Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Suisse";
  src: url("/assets/fonts/fonnts.com-Suisse_Intl_Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
/* FONTS END */

/* LAYOUT START */
:root {
  --green-color: #026765;
  --white-color: #ffffff;
  --black-color: #000000;
  --grey-color: #757575;
  --light-grey: #eceff1;
  --item-bg: #f0f0f0;
  --box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  --btn-padding: 12px 16px;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Suisse", sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

p {
  margin: 0;
}

::placeholder {
  color: unset;
}
/* LAYOUT END */

/* MAIN START */
/* ======================================= */
.home-banner-wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: clamp(375px, 50vw, 528px);
  box-shadow: var(--box-shadow);
  position: relative;
}
.home-banner-wrapper .container {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
}
.home-banner-wrapper .banner-content {
  width: 100%;
  max-width: 630px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: clamp(10px, 1vw, 16px);
  /* padding: 190px 0; */
}
.home-banner-wrapper .banner-content h1 {
  font-size: clamp(20px, 3vw, 48px);
  font-weight: 700;
  color: var(--white-color);
  line-height: 100%;
  margin: 0;
}
.home-banner-wrapper .banner-content p {
  font-size: clamp(15px, 1.5vw, 20px);
  font-weight: 500;
  color: var(--white-color);
  line-height: 100%;
}
.home-banner-wrapper .banner-content a {
  font-size: clamp(12px, 1vw, 14px);
  font-weight: 400;
  color: var(--black-color);
  border-radius: 52px;
  padding: var(--btn-padding);
  background-color: var(--white-color);
  transition: all 0.3s ease-in-out;
}
.home-banner-wrapper .banner-content a:hover {
  color: var(--white-color);
  background-color: var(--green-color);
}
/* ======================================= */
.additional-section-wrapper {
  background-color: var(--light-grey);
  padding: 64px 0;
}

.additional-section-wrapper
  .additional-section-content
  .additional-top-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 15px;
}

.additional-section-wrapper
  .additional-section-content
  .additional-top-wrapper
  .additional-top-left-wrapper {
  width: 80%;
}

.additional-section-wrapper
  .additional-section-content
  .additional-top-wrapper
  .additional-top-right-wrapper {
  width: 20%;
  text-align: center;
}

.additional-section-wrapper
  .additional-section-content
  .additional-top-wrapper
  .additional-top-left-wrapper
  ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.additional-section-wrapper
  .additional-section-content
  .additional-top-wrapper
  .additional-top-left-wrapper
  ul
  li
  img {
  width: 18px;
  height: 18px;
}
.additional-section-wrapper
  .additional-section-content
  .additional-top-wrapper
  .additional-top-left-wrapper
  ul
  li {
  font-size: clamp(12px, 1vw, 14px);
  font-weight: 400;
  color: var(--black-color);
  border-radius: 52px;
  border: 1px solid var(--black-color);
  display: inline-block;
  padding: 9px 12px;
}

.additional-section-wrapper
  .additional-section-content
  .additional-top-wrapper
  .additional-top-right-wrapper
  h2 {
  font-size: clamp(32px, 6vw, 64px);
  font-weight: 700;
  line-height: 100%;
}
.additional-section-wrapper
  .additional-section-content
  .additional-top-wrapper
  .additional-top-right-wrapper
  p {
  font-size: clamp(20px, 2vw, 24px);
  font-weight: 400;
  line-height: 100%;
  color: var(--black-color);
}

.additional-section-wrapper
  .additional-section-content
  .additional-bottom-wrapper {
  margin-top: 24px;
}

.additional-section-wrapper
  .additional-section-content
  .additional-bottom-wrapper
  p {
  font-size: clamp(18px, 2vw, 24px);
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
}
/* ======================================= */
.service-wrapper {
  margin: 64px 0;
}

.service-wrapper .service-header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 16px;
}

.service-wrapper .service-header-wrapper a {
  font-size: clamp(13px, 1vw, 14px);
  border: 1px solid var(--black-color);
  color: var(--black-color);
  border-radius: 52px;
  padding: 12px 16px;
  font-weight: 400;
  line-height: 100%;
  transition: all 0.3s ease-in-out;
}
.service-wrapper .service-header-wrapper a:hover {
  color: var(--white-color);
  background-color: var(--green-color);
  border-color: transparent;
}
.service-wrapper .service-header-wrapper h3 {
  font-size: clamp(18px, 2vw, 24px);
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;
  color: var(--black-color);
  width: 100%;
  max-width: 486px;
  margin-bottom: clamp(24px, 2vw, 32px);
}

.service-wrapper .service-content-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.service-wrapper .service-content-wrapper .item {
  position: relative;
  background-color: var(--item-bg);
  border-radius: 32px;
  padding: 24px;
  overflow: hidden;
}
.service-wrapper .service-content-wrapper .item .ornament {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -55px;
  right: -20px;
}
.service-wrapper .service-content-wrapper .item .icon-wrapper {
  background-color: var(--white-color);
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
}
.service-wrapper .service-content-wrapper .item .icon-wrapper img {
  width: 25px;
}
.service-wrapper .service-content-wrapper .item .item-content p {
  font-size: clamp(18px, 2vw, 24px);
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  margin-top: 16px;
  width: 100%;
  max-width: clamp(160px, 15vw, 350px);
}
/* ======================================= */
.directions-wrapper .directions-header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 16px;
}

.directions-wrapper .directions-header-wrapper a {
  font-size: clamp(13px, 1vw, 14px);
  border: 1px solid var(--black-color);
  color: var(--black-color);
  border-radius: 52px;
  padding: 12px 16px;
  font-weight: 400;
  line-height: 100%;
  transition: all 0.3s ease-in-out;
}
.directions-wrapper .directions-header-wrapper a:hover {
  color: var(--white-color);
  background-color: var(--green-color);
  border-color: transparent;
}
.directions-wrapper .directions-header-wrapper h3 {
  font-size: clamp(18px, 2vw, 24px);
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;
  color: var(--black-color);
  width: 100%;
  max-width: 486px;
  margin: 0;
}
.directions-wrapper .directions-header-wrapper p {
  font-size: clamp(15px, 1vw, 16px);
  font-weight: 400;
  line-height: 120%;
  color: var(--grey-color);
  width: 100%;
  max-width: 465px;
}
.directions-wrapper .directions-content-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin: clamp(24px, 3vw, 48px) 0 clamp(64px, 10vw, 128px);
}

.directions-wrapper .directions-content-wrapper .item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 16px;
  background-color: var(--item-bg);
  border-radius: 32px;
  padding: clamp(16px, 1.5vw, 24px);
  position: relative;
  transition: all 0.3s ease;
}
.directions-wrapper .directions-content-wrapper .item:hover {
  transform: scale(1.01);
  box-shadow: rgb(38, 57, 77) 0px 10px 20px -10px;
  background-color: var(--white-color);
  color: var(--black-color);
}
.directions-wrapper .directions-content-wrapper .item:hover .icon-wrapper {
  background-color: var(--item-bg);
}
.directions-wrapper .directions-content-wrapper .item .item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 16px;
}
.directions-wrapper .directions-content-wrapper .item .icon-wrapper {
  background-color: var(--white-color);
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
}
.directions-wrapper .directions-content-wrapper .item .icon-wrapper img {
  width: 25px;
  height: 25px;
}
.directions-wrapper .directions-content-wrapper .item h6 {
  font-size: clamp(18px, 1.4vw, 24px);
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  margin: 0;
}
.directions-wrapper .directions-content-wrapper .item p {
  font-size: clamp(15px, 1vw, 16px);
  font-weight: 400;
  line-height: 120%;
  color: var(--grey-color);
}
.directions-wrapper .directions-content-wrapper .item .btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  width: 100%;
}
.directions-wrapper .directions-content-wrapper .item .btn-wrapper a {
  font-size: clamp(15px, 1vw, 16px);
  font-weight: 400;
  line-height: 120%;
  color: var(--black-color);
}

.directions-wrapper .directions-content-wrapper .item .btn-wrapper a::after {
  content: "";
  position: absolute;
  inset: 0;
}

.directions-wrapper .directions-content-wrapper .item .btn-wrapper img {
  width: 20px;
}
/* ======================================= */
.banner-equipment {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: clamp(375px, 50vw, 650px); */
  display: flex;
  padding: clamp(30px, 5vw, 60px) 0;
}
.banner-equipment-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  gap: clamp(20px, 9vw, 91px);
  height: 100%;
}
.banner-equipment-content-wrapper .banner-equipment-header {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: clamp(10px, 1vw, 15px);
}
.banner-equipment-content-wrapper .banner-equipment-header img {
  width: 100%;
  max-width: clamp(150px, 20vw, 279px);
}
.banner-equipment-content-wrapper .banner-equipment-header p {
  font-size: 14px;
  font-weight: 500;
  color: var(--white-color);
}
.banner-equipment-content-wrapper .banner-equipment-body h1 {
  font-size: clamp(28px, 4vw, 48px);
  font-weight: 700;
  color: var(--white-color);
  margin-bottom: clamp(10px, 1vw, 15px);
}
.banner-equipment-content-wrapper .banner-equipment-body p {
  font-size: 14px;
  font-weight: 500;
  color: var(--white-color);
}
.banner-equipment-content-wrapper .btn-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
  flex-direction: row;
  margin-top: clamp(20px, 2vw, 32px);
}
.banner-equipment-content-wrapper .btn-wrapper .btn-first {
  background-color: var(--white-color);
  color: var(--black-color);
  font-size: 14px;
  font-weight: 400;
  padding: 12px 16px;
  border-radius: 52px;
  transition: all 0.3s ease-in-out;
}
.banner-equipment-content-wrapper .btn-wrapper .btn-first:hover {
  background-color: var(--green-color);
  color: var(--white-color);
}

.banner-equipment-content-wrapper .btn-wrapper .btn-second {
  background-color: var(--grey-color);
  color: var(--white-color);
  font-size: 14px;
  font-weight: 400;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 52px;
  transition: all 0.3s ease-in-out;
}
.banner-equipment-content-wrapper .btn-wrapper .btn-second:hover {
  background-color: var(--green-color);
  color: var(--white-color);
}
.banner-equipment-content-wrapper .btn-wrapper img {
  width: 20px;
  filter: brightness(0) invert(1);
}
/* ======================================= */
.industry {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.industry .left-industry-wrapper h1 {
  font-size: clamp(28px, 4vw, 48px);
  font-weight: 500;
  color: var(--black-color);
  margin-bottom: clamp(10px, 1vw, 15px);
}
.industry .left-industry-wrapper p {
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  color: var(--grey-color);
  margin-bottom: clamp(10px, 1vw, 15px);
}
.industry .left-industry-wrapper .btn-industry {
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  border-radius: 52px;
  padding: 12px 16px;
  color: var(--white-color);
  background-color: var(--black-color);
  transition: all 0.3s ease-in-out;
}
.industry .left-industry-wrapper .btn-industry:hover {
  background-color: var(--green-color);
  color: var(--white-color);
}
.industry .left-industry-wrapper .btn-industry img {
  width: 17px;
  height: 17px;
  margin-left: 5px;
  filter: brightness(0) invert(1);
}
.industry .right-industry-wrapper ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.industry .right-industry-wrapper ul li {
  font-size: clamp(12px, 1vw, 14px);
  font-weight: 400;
  color: var(--black-color);
  border-radius: 52px;
  border: 1px solid var(--black-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 9px 12px;
}
.industry .right-industry-wrapper ul li img {
  width: 20px;
}
/* ======================================= */
.solution-wrapper {
  background-color: var(--green-color);
  padding: 62px 0;
  position: relative;
}
.solution-wrapper .year-counter {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 600px;
}

.solution-wrapper .solution-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 16px;
  width: 50%;
}
.solution-wrapper .solution-content h2 {
  font-size: clamp(28px, 4vw, 48px);
  font-weight: 500;
  color: var(--white-color);
  margin-bottom: 0;
}
.solution-wrapper .solution-content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  width: 100%;
  max-width: 490px;
  color: var(--white-color);
}
.solution-wrapper .solution-content .btn-solution {
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  border-radius: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 12px 16px;
  color: var(--black-color);
  background-color: var(--white-color);
  transition: all 0.3s ease-in-out;
}
.solution-wrapper .solution-content .btn-solution:hover {
  background-color: var(--black-color);
  color: var(--white-color);
}
.solution-wrapper .solution-content .btn-solution:hover img {
  filter: brightness(0) invert(1);
}
.solution-wrapper .solution-content .btn-solution img {
  width: 17px;
  height: 17px;
  margin-left: 5px;
  filter: brightness(0) invert(0);
  transition: all 0.3s ease-in-out;
}
/* ======================================= */
.card-section-wrapper {
  margin: 34px 0;
}
.card-section-wrapper .card-item {
  display: flex;
  justify-content: center;
  gap: 15px;
  background-color: var(--item-bg);
  border-radius: 16px;
  padding: 8px;
}
.card-section-wrapper .card-item .card-image {
  width: 100%;
}
.card-section-wrapper .card-item .card-image img {
  height: 100%;
  width: 100%;
  max-width: 400px;
}
.card-section-wrapper .card-item .card-bottom-wrapper img {
  width: 20px;
  height: 20px;
}
.card-section-wrapper .card-item .card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 21px 0 10px;
}
.card-section-wrapper .card-item .card-content .card-top-wrapper h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  color: var(--black-color);
}
.card-section-wrapper .card-item .card-content .card-top-wrapper p {
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
  color: var(--black-color);
}

.card-section-wrapper .card-item .card-content .card-bottom-wrapper a {
  font-size: 14px;
  font-weight: 500;
  color: var(--black-color);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px 0 0;
  margin-top: 25px;
}
/* ======================================= */
/* MAIN END */
