/* FONTS START */
@font-face {
  font-family: "Suisse";
  src: url("/assets/fonts/fonnts.com-Suisse_Intl_Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Suisse";
  src: url("/assets/fonts/fonnts.com-Suisse_Intl_Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Suisse";
  src: url("/assets/fonts/fonnts.com-Suisse_Intl_Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
/* FONTS END */

/* LAYOUT START */
:root {
  --green-color: #026765;
  --white-color: #ffffff;
  --black-color: #000000;
  --grey-color: #757575;
  --box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  --btn-padding: 12px 16px;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Suisse", sans-serif;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

p {
  margin: 0;
}

::placeholder {
  color: unset;
}
/* LAYOUT END */

/* MAIN START */
/* ======================================= */
.home-banner-wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 528px;
  box-shadow: var(--box-shadow);
}
.home-banner-wrapper .banner-content {
  width: 100%;
  max-width: 630px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: clamp(10px, 1vw, 16px);
  padding: 190px 0;
}
.home-banner-wrapper .banner-content h1 {
  font-size: clamp(20px, 3vw, 48px);
  font-weight: 700;
  color: var(--white-color);
  line-height: 100%;
  margin: 0;
}
.home-banner-wrapper .banner-content p {
  font-size: clamp(15px, 1.5vw, 20px);
  font-weight: 500;
  color: var(--white-color);
  line-height: 100%;
}
.home-banner-wrapper .banner-content a {
  font-size: clamp(12px, 1vw, 14px);
  font-weight: 400;
  color: var(--black-color);
  border-radius: 52px;
  padding: var(--btn-padding);
  background-color: var(--white-color);
}

/* ======================================= */
/* MAIN END */
