/* Breakpoint 1200px */
@media (max-width: 1200px) {
}
/* Breakpoint 992px */
@media (max-width: 992px) {
  .home-banner-wrapper .container {
    justify-content: center;
  }
  .home-banner-wrapper .banner-content {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
/* Breakpoint 768px */
@media (max-width: 768px) {
}
/* Breakpoint 576px */
@media (max-width: 576px) {
}
/* Breakpoint 425px */
@media (max-width: 425px) {
}
