/* Breakpoint 1200px */
@media (max-width: 1400px) {
  .footer-banner-wrapper .banner-hand {
    width: 400px;
  }
  .partner-wrapper .partner-content-wrapper {
    flex-wrap: wrap;
  }
}

/* Breakpoint 1200px */
@media (max-width: 1200px) {
  .footer-banner-wrapper .banner-hand {
    width: 360px;
  }
}

/* Breakpoint 1100px */
@media (max-width: 1100px) {
  .industry {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
}
/* Breakpoint 992px */
@media (max-width: 992px) {
  .home-banner-wrapper .container {
    justify-content: center;
  }
  .home-banner-wrapper .banner-content {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .additional-section-wrapper
    .additional-section-content
    .additional-top-wrapper {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .additional-section-wrapper
    .additional-section-content
    .additional-top-wrapper
    .additional-top-left-wrapper {
    width: 100%;
  }
  .additional-section-wrapper
    .additional-section-content
    .additional-top-wrapper
    .additional-top-right-wrapper {
    width: 100%;
  }
  .additional-section-wrapper
    .additional-section-content
    .additional-top-wrapper
    .additional-top-left-wrapper
    ul {
    display: grid;
    grid-template-columns: 1fr;
  }
  .additional-section-wrapper
    .additional-section-content
    .additional-top-wrapper
    .additional-top-left-wrapper
    ul
    li {
    display: flex;
  }
  .additional-section-wrapper
    .additional-section-content
    .additional-bottom-wrapper
    p {
    text-align: center;
  }
  .service-wrapper .service-content-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .service-wrapper .service-header-wrapper {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .directions-wrapper .directions-content-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .directions-wrapper .directions-header-wrapper {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .banner-equipment-content-wrapper {
    max-width: 600px;
    height: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .banner-equipment-content-wrapper .banner-equipment-header {
    align-items: center;
  }
  .banner-equipment-content-wrapper .btn-wrapper {
    justify-content: center;
  }
  .industry .left-industry-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .industry .right-industry-wrapper ul {
    justify-content: center;
    align-items: center;
  }
  .solution-wrapper .solution-content {
    align-items: center;
    width: 100%;
    text-align: center;
  }
  .solution-wrapper .year-counter {
    display: none;
  }
  .card-section-wrapper .card-item .card-image {
    width: auto;
  }
  .tariffs-wrapper .tariffs-header-wrapper {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .tariffs-wrapper .tariffs-card-wrapper .tariffs-item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .tariffs-wrapper .tariffs-card-wrapper .tariffs-item-wrapper ul {
    justify-content: center;
    align-items: center;
  }
  .article-wrapper .article-header-wrapper {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer-banner-wrapper .banner-hand {
    display: none;
  }
  .footer-banner-wrapper .banner-content-wrapper {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  /* =================================== */
  .header .burger-btn {
    display: flex;
  }
  .header .mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: var(--green-color);
    padding: 80px 20px 20px;
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 999;
  }

  .header .mobile-menu.active {
    right: 0;
  }

  .header .navbar-menu-wrapper ul {
    flex-direction: column;
    gap: 20px;
  }

  .header .navbar-menu-wrapper ul li a {
    font-size: 18px;
  }
  .header .navbar-right-wrapper {
    flex-direction: column;
    gap: 15px;
  }
  .header .mobile-menu {
    justify-content: start;
  }
  .header .mobile-menu.active .mobile-close {
    display: block;
  }
}
/* Breakpoint 768px */
@media (max-width: 768px) {
  .service-wrapper .service-content-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .directions-wrapper .directions-content-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-section-wrapper .card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .card-section-wrapper .card-item .card-content .card-bottom-wrapper a {
    justify-content: center;
    gap: 10px;
  }

  .steps-wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .steps::before {
    display: none;
  }
  .steps-wrapper::before {
    display: none;
  }

  .step {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }

  .step-circle {
    margin: 0;
    flex-shrink: 0;
  }
  /*  */
}
/* Breakpoint 576px */
@media (max-width: 576px) {
  .directions-wrapper .directions-content-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .banner-equipment-content-wrapper .btn-wrapper {
    flex-direction: column;
  }
  .footer-banner-wrapper .banner-content-wrapper .btn-wrapper {
    flex-direction: column;
  }
}
/* Breakpoint 425px */
@media (max-width: 425px) {
}
