/* Breakpoint 1200px */
@media (max-width: 1200px) {
}
/* Breakpoint 992px */
@media (max-width: 992px) {
  .home-banner-wrapper .container {
    justify-content: center;
  }
  .home-banner-wrapper .banner-content {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .additional-section-wrapper
    .additional-section-content
    .additional-top-wrapper {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .additional-section-wrapper
    .additional-section-content
    .additional-top-wrapper
    .additional-top-left-wrapper {
    width: 100%;
  }
  .additional-section-wrapper
    .additional-section-content
    .additional-top-wrapper
    .additional-top-right-wrapper {
    width: 100%;
  }
  .additional-section-wrapper
    .additional-section-content
    .additional-top-wrapper
    .additional-top-left-wrapper
    ul {
    display: grid;
    grid-template-columns: 1fr;
  }
  .additional-section-wrapper
    .additional-section-content
    .additional-top-wrapper
    .additional-top-left-wrapper
    ul
    li {
    display: flex;
  }
  .additional-section-wrapper
    .additional-section-content
    .additional-bottom-wrapper
    p {
    text-align: center;
  }
  .service-wrapper .service-content-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .service-wrapper .service-header-wrapper {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
/* Breakpoint 768px */
@media (max-width: 768px) {
  .service-wrapper .service-content-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* Breakpoint 576px */
@media (max-width: 576px) {
}
/* Breakpoint 425px */
@media (max-width: 425px) {
}
